<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bebanggis">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconapprounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".FragmentActivity" />
        <activity
            android:name=".ActivityAbout"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Result"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Quiz"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".GamesColor"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".GamesQuiz"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".LearnColor"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".LearnAlfabeth"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>